:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.videocontainer {
  width: 100vw;
  height: 100vh;
}

iframe {
position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
  border: 0;
}

#overlay{
  position: absolute;
  color: #FFFFFF;
  left: 10%;
  top: 20%;
}

img{
  position: absolute;
  color: #FFFFFF;
  left: 10%;
  top: 0;
  width: 20vw;
}

#buttons{
  position: relative;
  display: flex;
  gap: 10px;
  top: 50%;
}

#buttons button{
  padding: 1rem;
  border-radius: 1rem;

  border: 0;
}
#play{
  background-color: whitesmoke;
  color: black;
}
#more{
  background: gray/50;
  color: white;
}